@use "/src/styles/vars";

.currency {
  background-color: vars.$clear;
  text-align: left;
  overflow-y: scroll;
  max-height: 60vh;

  &-search {
    padding: 0.8;
    margin-top: 0.8;
    font-weight: bold;
    width: 100%;
    border: none;
    color: vars.$mainColor;
    font: inherit;
    &::placeholder {
        color: vars.$altColor;
    }
  }

  &-item {
    border-bottom: 1px solid vars.$altColor;
    color: vars.$mainColor;
    font-weight: 500;
    padding: 1em 0.5em;
    transition: background-color 1s;
    cursor: pointer;

    &:last-child {
      border-bottom: 0;
    }
  }

  &-item:hover {
    background-color: vars.$altColor;
    transition-duration: 200ms;
  }

}

// scroll-bar
.currency {
  &::-webkit-scrollbar {
    width: 0.5;
  }

  &::-webkit-scrollbar-track {
    background-color: vars.$clear;
  }

  &::-webkit-scrollbar-thumb {
    background-color: vars.$mainColor;
    outline: 1px solid black;
  }
}
