@use "/src/styles/vars";

.result {
  background-color: vars.$clear;
  padding: 1.5em;

  &-title{
    color: vars.$mainColor;
    font-weight: 700;
  }

  &-subtitle {
    color: vars.$mainColor;
  }
}
