@use "/src/styles/vars";

.result {
  background-color: vars.$clear;
  padding: 2em 2em 1em;

  &-title{
    color: vars.$mainColor;
    font-weight: 700;
  }

  &-subtitle {
    color: vars.$mainColor;
  }
}
